<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>'Preciate the order, <%= @supplier.name %></h1>
    <p>
      <%= @supplier.name %>.<br/>
    </p>
    <p>
      ...
    </p>
    <p>... have a great day!</p>
  </body>
</html>
