<h1>Products Pickup Settings</h1>
<h4>Pickups</h4>
<div class="locations">
<% if @pickups.empty? %>
  <p>No Pickup Locations Specified</p>
<% else %>
<ul>
  <%= render @pickups %>
</ul>
<% end %>
</br>

</div>
<div>
  <% form_tag({:controller => "pickups", :action => "create"}, :method => :post) do %>
    <%= select_tag "locations", options_from_collection_for_select(@locations, "id", "location_name") %>
    <%= text_field :dates, nil, :id => :dates %>
    <%= submit_tag "Save" %>
  <% end %>
</div>
<script type="text/javascript">
  $("#dates").multiDatesPicker();
</script>

